.header {
    background-color: #2a2c2e !important;
    border-bottom-color: #121213 !important;
}

.is-stats .header {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05) !important;
}

.header-logo-wordmark,
.header-logo-invertocat,
.header-nav-link {
    color: #c8c8ca !important;
}

.header-logo-wordmark:hover,
.header-logo-wordmark:focus,
.header-logo-invertocat:hover,
.header-logo-invertocat:focus,
.header-nav-link:hover,
.header-nav-link:focus {
    color: #fafafa !important;
}

.header-nav-link:hover .dropdown-caret,
.header-nav-link:focus .dropdown-caret {
    border-top-color: #fafafa !important;
}

.notification-indicator .mail-status {
    border-color: #2a2c2e !important;
}

.notification-indicator:hover .mail-status {
    background-color: #d26911 !important;
}

.header-actions .button {
    border: 0 !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.5) !important;
}

.site-search .scope-badge {
    background-color: #5b5f63 !important;
    color: #c8c8ca !important;
}

.site-search input[type="text"],
.site-search #adv_code_search .search-page-label,
#adv_code_search .site-search .search-page-label {
    color: #fafafa !important;
    background-color: #4f5256 !important;
    border-color: #121213 !important;
}

.site-search input[type="text"]:focus,
.site-search .focused .drag-and-drop,
.focused .site-search .drag-and-drop,
.site-search #adv_code_search .search-page-label:focus,
#adv_code_search .site-search .search-page-label:focus {
    background-color: #55595d !important;
    border-color: #000 !important;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075) !important;
}

.site-search input[type="text"]:focus + .scope-badge,
.site-search .focused .drag-and-drop + .scope-badge,
.focused .site-search .drag-and-drop + .scope-badge,
.site-search #adv_code_search .search-page-label:focus + .scope-badge,
#adv_code_search .site-search .search-page-label:focus + .scope-badge {
    background-color: #676c71 !important;
    color: #fff !important;
}
